$accordion-items-indent: 20px;
$legend-bottom-indent: 5px;
$legend-left-indent: 10px;

.accordion-item{
    width: 100%;
    // height: fit-content;
    margin-bottom: $accordion-items-indent;
}

.gradient{
    height: auto;
    width: 47px;
}
.gradient:hover{
    transition: opacity .3s;
}
.folded{
    opacity: .8;
}
.folded:hover{
    opacity: 1;
}
.unfolded{
    opacity: .3;
}
.unfolded:hover{
    opacity: .6;
}

.legend{
    margin-bottom: $legend-bottom-indent;
    padding-left: $legend-left-indent;
    opacity: .9;
}
.legend:hover{
    opacity: 1;
}

.items{
}