:root{
    --white: rgba(175,175,175,1);
    --pure-white: white;
    --red: rgba(215,75,186,1);
    --green: rgba(62,133,47,1);
    --yellow: rgba(175,168,62,1);
    --ocean: rgba(115,208,212,1);
    --blue: rgb(88, 92, 209);
    --orange: rgba(205,133,40,1);

    --unmarked: #b6d7ffff;

    --pale-white: #92acd418;
    --pale-white2: #b6d7ffbe;
    --cold-pale: #5d6a87ff;
    --cold-white: #9baddbff;
    --text: #b2b2b2ff;

    --transparent: rgba(0,0,0,0);

    --ini: rgba(62,133,47,1);
    --vue: rgb(0, 160, 99);
    --js: rgba(175,168,62,1);
    --json: rgb(246, 239, 134);
    --scss: rgb(175, 62, 90);
    --css: rgb(213, 118, 142);
    --md: rgb(118, 109, 244);
    --bat: rgb(255, 255, 255);

    --pdf: rgb(183, 41, 41);
    --torrent: rgb(17, 103, 0);

    --7z: rgb(255, 238, 0);
    --rar: rgb(255, 238, 0);
    --zip: rgb(255, 238, 0);

    // --red-mark-legend: #e55ce0ff;   //
    
    --head-btn-bgcolor-close-hover: red;
    // --head-btn-bgcolor-close-hover: rgba(34,34,41,1);
    --head-btn-bgcolor-hover: rgba(34,34,41,.63);
    --head-btn-color: rgba(34,34,41,1);
    --head-btn-color2: rgba(255,255,255,.5);
    --head-btn-color-hover: black;
    --head-btn-color-hover2: white;

    --shadow: 0 -15px 21px 0 #000;
    --shadow-image-file: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    --shadow-bar-menu: 5px 0 30px 0 #000;

    --grad-fieldset-red: linear-gradient(90deg, rgba(37, 44, 58, 0) 0%, rgba(212, 37, 179, 0) 4.99%, #d425b30c 45.53%, rgba(0, 0, 0, 0) 100%);
    
    --grad-border-fieldset-green: linear-gradient(90deg, rgba(49,173,49,1) 0%, rgba(49,173,49,0) 12%, rgba(49,173,49,0) 100%);

    //  Common

    --grad-renaming: rgba(146, 192, 255, 0.38);
    --grad-selected: linear-gradient(90deg, rgba(146, 192, 255, 0) 0%, rgba(146, 192, 255, 0.18) 49.29%, rgba(146, 192, 255, 0.15) 100%);
    
    //  <Project List View>
    
    --grad-projects-list-back: linear-gradient(174deg, #1e1e22 0%, #2c2c33 51.74%, #131313 100%);
    
    --grad-projects-list-left-1: linear-gradient(93deg, rgba(138, 187, 255, 0.05) 0%, rgba(145, 173, 255, 0) 100%);
    --grad-projects-list-left-2: linear-gradient(90deg, rgba(118, 163, 188, 0) 86.67%, rgba(191, 231, 255, 0.03) 100%);
    
    --grad-projects-list-right-shadow: linear-gradient(-90deg, rgba(0, 0, 0, 0) 98.18%, rgba(0, 0, 0, 0.25) 100%);

    // --grad-project-hover: linear-gradient(90deg, rgba(34, 36, 41, 0) 0%, #222429 48.96%, rgba(34, 36, 41, 0) 100%); //
    --grad-projects-list-selected: linear-gradient(90deg, rgba(146, 192, 255, 0.25) 0%, rgba(146, 192, 255, 0.11) 48.16%, rgba(146, 192, 255, 0) 100%);
    --grad-projects-list-rename: linear-gradient(90deg, rgba(146, 192, 255, 0.25) 0%, rgba(146, 192, 255, 0.11) 48.16%, rgba(146, 192, 255, 0) 100%);

    //  <Browser View>

    --grad-head: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    
    --grad-bar: linear-gradient(90deg, #1e1e22 0%, #2c2c33 29.51%, #2c2c33 54.17%, #131313 100%);
    
    --grad-page-PROJECTS: linear-gradient(174deg, #1e1e22 0%, #2c2c33 51.74%, #131313 100%);
    --grad-page-SESSION: linear-gradient(174deg, #1e1e22 0%, #363b3f 51.74%, #171717 100%);

    --grad-left-field: linear-gradient(90deg, rgba(97, 134, 197, 0.08) 0%, rgba(116, 146, 188, 0) 89.57%);
    
    --grad-tasks-and-tree-2: linear-gradient(92deg, rgba(118, 163, 188, 0) 95.95%, rgba(126, 202, 255, 0.03) 100%);
    --grad-tasks-and-tree-3: linear-gradient(-92deg, rgba(138, 187, 255, 0.03) 0%, rgba(145, 173, 255, 0) 51.88%);

    //  <Bar>
    
    --grad-bar-block: linear-gradient(90deg, #0e1219 0%, rgba(14, 18, 25, 0) 12.5%);
    --grad-mark-button: linear-gradient(-90deg, rgba(123, 159, 221, 0) 0%, rgba(105, 134, 188, 0.31) 100%);
    
    --grad-bar-mark-input:  rgba(0, 0, 0, 0.35);
    --grad-bar-mark-input-border: #000;

    --grad-bar-search: rgba(146, 191, 255, 0.114);
    
    //  Mark menu
    
    --grad-mark-menu-SESSION-1: linear-gradient(90deg, #1e1e22 0%, #343b42 29.51%, #3c3f46 54.17%, #131313 100%);
    --grad-mark-menu-PROJECTS-1: linear-gradient(90deg, #2c2c33 0%, #25252c 100%);
    --grad-mark-menu-2: linear-gradient(315deg, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0) 50.69%);
    
    --grad-mark-menu-input: #1b1b21;
    --border-mark-menu-input: #2a2e35;
    
    //  <Accordion>
    
    --grad-text-files-1: linear-gradient(88deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 14.24%);
    --grad-text-files-2: linear-gradient(154deg, rgba(22, 22, 22, 0) 13.42%, rgba(70, 72, 93, 0.09) 26.37%, rgba(10, 10, 15, 0.43) 99.75%);

    --grad-images-files-1: linear-gradient(-92deg, rgba(0, 0, 0, 0) 95.95%, rgba(0, 0, 0, 0.21) 100%);

    //  <Tasks>
    
    // --grad-selected-task: linear-gradient(90deg, rgba(146, 192, 255, 0) 0%, rgba(146, 192, 255, 0.18) 49.29%, rgba(146, 192, 255, 0.15) 100%);
    
    //  <Tree>
    
    // --grad-selected-folder: linear-gradient(90deg, rgba(146, 192, 255, 0) 0%, rgba(146, 192, 255, 0.18) 49.29%, rgba(146, 192, 255, 0.15) 100%);
    --grad-copy-cut-colder: gray;
    --grad-renaming-folder: gray;
    
    //  <File>

    // --grad-selected-text-file: linear-gradient(90deg, rgba(146, 192, 255, 0) 0%, rgba(146, 192, 255, 0.1) 51.84%, rgba(146, 192, 255, 0.08) 100%);
    // --grad-select-renaming-text-file-input: rgba(0, 0, 0, 0);
    --grad-select-copy-cut-text-file: gray;

    --grad-selected-img-file: linear-gradient(90deg, rgba(146, 192, 255, 0) 0%, rgba(146, 192, 255, 0.25) 100%);
    // --grad-select-renaming-img-file: rgba(146, 192, 255, 0.38);
    // --grad-select-renaming-img-file: linear-gradient(90deg, #1b1b21 0%, #2a2e39 100%);
    // --grad-select-renaming-img-file-input: rgba(146, 192, 255, 0.38);
    --grad-select-copy-cut-img-file: gray;
    //  ---

    --grad-red: linear-gradient(90deg, rgba(215,75,186,.53) 0%, rgba(215,75,186,0.2) 100%);
    --grad-green: linear-gradient(90deg, rgba(62,133,47,.53) 0%, rgba(62,133,47,0.2) 100%);
    --grad-yellow: linear-gradient(90deg, rgba(175,168,62,.53) 0%, rgba(175,168,62,0.2) 100%);
    --grad-ocean: linear-gradient(90deg, rgba(115,208,212,.53) 0%, rgba(115,208,212,0.2) 100%);
    --grad-blue: linear-gradient(90deg, rgba(46,51,200,.53) 0%, rgba(46,51,200,0.2) 100%);
    --grad-orange: linear-gradient(90deg, rgba(205,133,40,.53) 0%, rgba(205,133,40,0.2) 100%);
    
    --grad-field-red: linear-gradient(-90deg, rgba(215,75,186,.34) 0%, rgba(215,75,186,0) 100%);
    --grad-field-green: linear-gradient(-90deg, rgba(62,133,47,.34) 0%, rgba(62,133,47,0) 100%);
    --grad-field-yellow: linear-gradient(-90deg, rgba(175,168,62,.34) 0%, rgba(175,168,62,0) 100%);

    --grad-field-red--close: linear-gradient(-90deg, rgba(215,75,186,.54) 0%, rgba(215,75,186,0) 10%);
    --grad-field-green--close: linear-gradient(-90deg, rgba(62,133,47,.54) 0%, rgba(62,133,47,0) 10%);
    --grad-field-yellow--close: linear-gradient(-90deg, rgba(175,168,62,.54) 0%, rgba(175,168,62,0) 10%);

    // --font-color--file-name: rgba(255,255,255,.43);
    // --font-color--file-format--green: rgba(150,222,171,1);
}
/* #### */

/* BORDER */
.white-border-2{
    border: solid 2px var(--white);
}
.red-border-2{
    border: solid 2px var(--red);
}
.green-border-2{
    border: solid 2px var(--green);
}
.yellow-border-2{
    border: solid 2px var(--yellow);
}
.ocean-border-2{
    border: solid 2px var(--ocean);
}
.blue-border-2{
    border: solid 2px var(--blue);
}
.orange-border-2{
    border: solid 2px var(--orange);
}

/* BACKGROUND */
.white-back{
    background-color: var(--white);
}
.red-back{
    background-color: var(--red);
}
.green-back{
    background-color: var(--green);
}
.yellow-back{
    background-color: var(--yellow);
}
.ocean-back{
    background-color: var(--ocean);
}
.blue-back{
    background-color: var(--blue);
}
.orange-back{
    background-color: var(--orange);
}
.transparent-back{
    background-color: transparent;
}
.default-color-back{
    background-color: var(--cold-white);
}
.unmarked-color-back{
    background-color: var(--unmarked);
}

.white-back-hover:hover{
    background-color: var(--white);
}
.red-back-hover:hover{
    background-color: var(--red);
}
.green-back-hover:hover{
    background-color: var(--green);
}
.yellow-back-hover:hover{
    background-color: var(--yellow);
}
.ocean-back-hover:hover{
    background-color: var(--ocean);
}
.blue-back-hover:hover{
    background-color: var(--blue);
}
.orange-back-hover:hover{
    background-color: var(--orange);
}

/* BACKGROUND HOVER */
.white-back-hover:hover{
    background-color: white;
}
.red-back-hover:hover{
    background-color: var(--red);
}
.green-back-hover:hover{
    background-color: var(--green);
}
.yellow-back-hover:hover{
    background-color: var(--yellow);
}
.ocean-back-hover:hover{
    background-color: var(--ocean);
}
.blue-back-hover:hover{
    background-color: var(--blue);
}
.orange-back-hover:hover{
    background-color: var(--orange);
}

.red-fielfset{
    background: var( --grad-fieldset-red);
}

/* TEXT */
.red-text{
    color: var(--red);
}
.green-text{
    color: var(--green);
}
.yellow-text{
    color: var(--yellow);
}
.white-text{
    color: var(--white);
}
.ocean-text{
    color: var(--ocean);
}
.blue-text{
    color: var(--blue);
}
.orange-text{
    color: var(--orange);
}
.transparent-text{
    color: var(--white);
}
.default-color-text{
    color: var(--cold-white);
}
.unmarked-color-text{
    color: var(--unmarked);
}

.border-right--red{
    /* border-right: solid 2px var(--red); */
}
.border-right--green{
    /* border-right: solid 2px var(--green); */
}
.border-right--yellow{
    /* border-right: solid 2px var(--yellow); */
}

/* CONTENT > LEFT FIELD */
.field--red{
    background: var(--grad-field-red--close);
}
.field--green{
    background: var(--grad-field-green--close);
}
.field--yellow{
    background: var(--grad-field-yellow--close);
}
.field--red:hover{
    background: var(--grad-field-red);
}
.field--green:hover{
    background: var(--grad-field-green);
}
.field--yellow:hover{
    background: var(--grad-field-yellow);
}

.field--red__rev{
    background: var(--grad-field-red--close);
    transform: rotate(180deg);
}
.field--green__rev{
    background: var(--grad-field-green--close);
    transform: rotate(180deg);
}
.field--yellow__rev{
    background: var(--grad-field-yellow--close);
}
.field--red__rev:hover{
    background: var(--grad-field-red);
}
.field--green__rev:hover{
    background: var(--grad-field-green);
    transform: rotate(180deg);
}
.field--yellow__rev:hover{
    background: var(--grad-field-yellow);
    transform: rotate(180deg);
}
//  BAR PIC COLOR BTNS
.color-pic-red{
    background: var(--grad-red);
}
.color-pic-green{
    background: var(--grad-green);
}
.color-pic-yellow{
    background: var(--grad-yellow);
}
.color-pic-ocean{
    background: var(--grad-ocean);
}
.color-pic-blue{
    background: var(--grad-blue);
}
.color-pic-orange{
    background: var(--grad-orange);
}

/* FAKE SELECTED */
.-fake-mark--red{
    background: var(--grad-red);
}
.-fake-mark--green{
    background: var(--grad-green);
}
.-fake-mark--yellow{
    background: var(--grad-yellow);
}

/* FONTS */
.file-name{
    color: var(--font-color--file-name);
}

// FORMATS
.format-ini{
    color: var(--ini);
}
.format-js{
    color: var(--js);
}
.format-json{
    color: var(--json);
}
.format-bat{
    color: var(--bat);
}
.format-vue{
    color: var(--vue);
}
.format-css{
    color: var(--css);
}
.format-scss{
    color: var(--scss);
}
.format-md{
    color: var(--md);
}

.format-7z{
    color: var(--7z);
}
.format-zip{
    color: var(--zip);
}
.format-rar{
    color: var(--rar);
}

.format-pdf{
    color: var(--pdf);
}
.format-torrent{
    color: var(--torrent);
}

.format-default{
    color: var(--cold-pale);
}

//  LAYER - BAR