$left-indent: 400px;
$left-filed-width: 900px;
$top-indent: 80px;
$field-between-groups: 60px;

.pin-logo, .new-proj-logo{
    width: 20px;
    padding-left: 45px;
}

.project-description{
    color: var(--text);
}
.projects-list__name .btn:nth-child(n+2){
    opacity: 0;
}
.projects-list__name:hover .btn:nth-child(n+2){
    opacity: .4;
}
.project-name{
    color: var(--text);
}
.project-name:hover{
    color: var(--pure-white);
}
.item__icon{
    width: 10px;
    height: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.item__icon:hover{
    opacity: 1;
}