*{
    // box-sizing: border-box;
    cursor: default;
    user-select: none;
}

button{
    background-color: inherit;
    border: 0px;
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    padding: inherit;
    margin: inherit;
}

ul, li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

input[type="text"]{
    font-family: inherit;
    // font-size: inherit;
    // font-weight: inherit;
    // letter-spacing: inherit;
    border-radius: 0px;
    -webkit-border-radius: 0px; //закругление углов (Google Chrome)
    -moz-border-radius: 0px; //закругление углов (FireFox)
    -khtml-border-radius: 0px; //закругление углов (Safari)
}